  .background{
    padding: 1vh 2vw 1vh 2vw;
    width: 92vw; 
    height: 88vh;
  }
.description_group{
    resize: none;
}
  .group_up {
      vertical-align: top;
  }

  .tokenize > .tokens-container{
    left: 0.5em;
}
.dropzone{
  border-radius: 50% !important;
  width: 150px !important;
  height: 150px !important;
  min-height: auto !important;
  position: relative !important;
  margin: auto !important;
  border: 1px solid #31bebe !important;
  background: black !important;
  background-image: url("../images/camera.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: block !important;
  color: transparent;
}
.cancel{
    background-color: #ff3737 !important;
}