@import url("../css/hamburgers.css");

/* -------------- The Nav Bar -------------- */
nav {
	z-index: 10;
	height: 80px;
	background-color: #2a333c;
	padding: 10px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
	margin-bottom: 0;
	box-shadow: 0px 5px 20px #000000F0;
}

#nav {
	transition: margin-left .5s;
}

	/* -------------- Nav Menu title -------------- */
nav .menu_title {
    color: #ffffff;
    font: 60px sans-serif, Arial;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}


    /* -------------- Sidenav left -------------- */
.sidenav {
	height: 100%;
	width: 300px;
	background-color: #12141e;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 0;
    transition: 0.5s;
    margin-left: -300px;
}

.sidenav a {
	padding: 10px 10px 10px 35px;
	color: #fefefe;
	font: 30px sans-serif, Arial;
	text-decoration: none;
	display: block;
	transition: 0.4s;
}

.sidenav a:hover {
    color: #2a333c;
    text-decoration: none;
}

.sidenav-spacer {
    height: 100px;
}

.sidenav-button {
	width: 100%;
	padding: 35px 0;
	color: #ffffff;
	font: 30px sans-serif, Arial;
	border-width: 0;
	cursor: pointer;
	transition: 0.6s;
}

.sidenav-button:hover {
	color: #2a333c;
}

.sidenav hr {
	height: 4px;
	color: #2a333c;
    background-color: #2a333c;
    border-width: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #31bebe;
}

.hamburger {
    z-index: 10;
    float: left;
}


	/* -------------- Nav Group Select -------------- */
nav .group_icon_button {
	float: right;
	background: black;
	background-image: url(/images/no_group_selected.png); 	/*Here you'll put the image of selected group, this is default */
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	border-radius: 50%;
	padding: 35px;
	position: absolute;
	top: 15px;
	right: 50px;
	left: unset;
}

nav .group_sidepanel {
	height: 100%;
	width: 0; /* Change in Java Script */
	position: fixed;
	top: 0;
	z-index: +1; /*hide the group icon under the sidepanel */
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

nav .group_select_button {
	position: relative;
	left: 15px;
	margin-top: 5px;
	color: #ffffff;
	border-color: #31bebe;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	font: 18px sans-serif, Arial;
	width: 250px;
	height: 40px;
	background-color: black;
	overflow: hidden; /* This will hide too long text */
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav .group_select_button:hover {
	background-color: #2a333c;
}

nav .group_select_button img {
	float: left;
	background: black;
	padding: 5px;
	width: 20px;
	height: 20px;
	border-color: #31bebe;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
}

nav .group_select_button span {
	position: relative;
	left: 10px;
	width: 200px;
}

		/* Position and style the close button (top right corner) */

nav .group_sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	text-decoration: none;
	color: #2a333c;
	margin-left: 50px;
}