body {
	background-color: #2a333c;
	margin: 0 auto;
}

a {
    color: #31bebe;
}

h1 {
	color: #ffffff;
	font: 50px sans-serif, Arial;
    text-align: center;
	margin: 0 auto;
}

h2 {
	color: #ffffff;
	font: 25px sans-serif, Arial;
	text-align: center;
	margin: 0 auto;
}

label {
    color: #ffffff;
    font: 18px sans-serif, Arial;
}

.error {
    color: #ac0000;
    text-align: center;
    margin: 10px 0;
}

.dark {
	background-color: #12141e;
}

.light {
	background-color: #2a333c;
}

.division {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 0;
	padding-right: 0;
	margin-top: -40px;
	display: grid;
	grid-template-columns: repeat(12, 8.3333333%);
}

.box {
	margin: 20px;
	padding: 20px 0;
	border-radius: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(12, 8.3333333%);
}

.checkbox {
    -webkit-appearance: none;
    color: #ffffff;
	background-color: #000000;
    border: 1px solid #31bebe;
	border-radius: 8px;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.checkbox:checked:after {
    color: #ffffff;
	content: "\2714";
	font-size: 20px;
    position: absolute;
    left: 6px
}
