.rowContainer {
    height: auto;
    display: grid;
    grid-template-columns: 15% 23% 12% 12% 23% 15%;
    align-items: center;
    margin: 20px;
}
.playerImg {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.imgLeft {
    background: #0094ff;
}
.imgRight {
    background: #ff3737;
    justify-self: end;
}
.player {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    align-items: center;
    text-align: center;

    color: #ffffff;
}
.score {
    position: relative;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #ffffff;
}
.date {
    grid-column: 1/7;
    height: 23px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;

    color: #ffffff;
}

.row_entry_button {
    grid-column: span 2;
}