@import url("../css/hamburgers.css");

body {
	background-color: #000000;
	margin: 0 auto;
}
nav {
    width: 100%;
	background-color: #2a333c;
	padding: 10px;
	padding-bottom: 40px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color: #12141E;
}
#main, #nav {
  transition: margin-left .5s;
}
.sidenav {
    height: 100%;
    width: 0;
    background-color: #12141e;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: ;
    transition: 0.5s;
}
.sidenav a {
    padding: 5px 10px 5px 35px;
    color: #fefefe;
    font: 30px sans-serif, Arial;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}
.sidenav a:hover {
  color: #2a333c;
}
.sidenav-button {
    width: 100%;
    padding: 35px 0;
    color: #ffffff;
    background-color: #31bebe;
    font: 30px sans-serif, Arial;
    border-width: 0;
    cursor: pointer;
    transition: 0.6s;
}
.sidenav-button:hover {
    color: #2a333c;
}
.sidenav hr {
    height: 2px;
    color: #2a333c;
    background-color: #2a333c;
}
.sidenav hr.bold{
    height: 2px;
    color: #31bebe;
    background-color: #31bebe;
    margin:15px 0
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #31bebe;
}
.dark {
	background-color: #12141e;
}
.light {
	background-color: #2a333c;
}
.division {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 0;
	padding-right: 0;
	margin-top: -40px;
	display: grid;
	grid-template-columns: repeat(12, 8.3333333%);

	/*box-shadow: 0px -5px 10px #000000F0;*/
}
.box {
	margin: 20px;
	padding: 5px;
	border-radius: 20px;
}
.menu_title {
	color: #ffffff;
	font: 60px sans-serif, Arial;
	margin: 0 auto;
}
.box_value {
	color: #ffffff;
	font: 70px sans-serif, Arial;
	text-align: center;
	margin: 0;
}
.box_title {
	color: #31bebe;
	font: 40px sans-serif, Arial;
	text-align: center;
	margin: 0;
}
.button_big {
    color: #ffffff;
	background-color: #31bebe;
	font: 40px sans-serif, Arial;
	margin: 10px;
	border-radius: 25px;
	border-width: 0;
	height: 50px;
    cursor: pointer;
}
.text_input {
    color: #ffffff;
	background-color: #000000;
	border-color: #31bebe;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	font: 18px sans-serif, Arial;
	height: 35px;
	margin: 10px;
	padding-left: 5px;
}
