<div class="rowContainer" style="grid-column: 1 / 13;">
    <input type="hidden" name="matchId" value=<%- match.id %>> 
    <label class="date" style="grid-column: 1; grid-row: 2"></label>
    <div class="playerImg imgLeft" style="grid-column: 2; grid-row: 2"></div>
    <label class="player" style="grid-column: 3; grid-row: 2"><%-match.playerA1%></label>
    <button name="submitMatchButton" class="button_big row_entry_button" style="grid-column: 4; grid-row: 2">eintragen</button>
    <label class="player" style="grid-column: 5; grid-row: 2"><%-match.playerB1%></label>
    <div class="playerImg imgRight" style="grid-column: 6; grid-row: 2"></div>
</div>
