<tr class="light">
    <td><%- user.rank || 'unbekannt' %></td>
    <td><%- user.name || 'unbekannt' %></td>
    <td><%- user.points || 'unbekannt' %></td>
    <td><%- user.playedGames || 'unbekannt' %></td>
</tr>