<div class="rowContainer" style="grid-column: 1 / 13;">
    <label class="date"></label>
    <div class="playerImg imgLeft"></div>
    <label class="player"><%-match.playerA%></label>
    <button class="button_big row_entry_button">eintragen</button>
    <label class="player"><%-match.playerB%></label>
    <div class="playerImg imgRight"></div>
</div>